.businesses-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .businesses-page .page-header {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .businesses-page .page-header h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .businesses-page .page-header p {
    font-size: 1.2rem;
    color: #555;
    font-family: 'Cairo', sans-serif;

  }
  
  .businesses-page .categories-filter {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Cairo', sans-serif;

  }
  
  .businesses-page .categories-filter h2 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .businesses-page .categories-filter ul {
    list-style: none;
    padding: 0;

  }
  
  .businesses-page .categories-filter li {
    display: inline-block;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    list-style-type: none; /* إزالة النقاط */

  }
  
  .businesses-page  .businesses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style-type: none; /* إزالة النقاط */

  }
  
  .businesses-page .business-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .businesses-page  .business-card:hover {
    transform: translateY(-10px);
  }
  
  .business-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .business-card p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666;
    font-family: 'Cairo', sans-serif;

  }
  
  .business-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;

  }
  
  .business-card a:hover {
    background-color: #0056b3;
  }

  /* تنسيق الباجينيشن */
  .businesses-page .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .businesses-page .pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;

  }
  
  .businesses-page .pagination button.active {
    background-color: #0056b3;
    font-weight: bold;
  }
  
  .businesses-page .pagination button:hover {
    background-color: #0056b3;
  }
  
  