/* التنسيق العام لصفحة رفع الصور */
.photo-upload-page-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Cairo', sans-serif;
  
}

/* العنوان */
.photo-upload-page-title {
  font-size: 28px;
  color: #dd7600;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* الحقول (الإدخالات) */
.photo-upload-input,
.photo-upload-select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.photo-upload-input:focus,
.photo-upload-select:focus {
  border-color: #ff8800;
  outline: none;
}

/* التنسيق لزر الرفع */
.photo-upload-submit-button {
  width: 100%;
  padding: 15px;
  background-color: #ff8800;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-upload-submit-button:hover {
  background-color: #dd7600;
}

/* تنسيق مؤشر التحميل */
.loading-indicator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* التنسيق للمحتوى داخل القسم */
.photo-upload-submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* التنسيق لكل قسم من الحقول */
label {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
  display: block;
}

/* تنسيق القائمة المنسدلة */
.photo-upload-select {
  width: 100%;
  padding: 12px;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}

/* تنسيق أقسام الصور المرفوعة */
.photo-upload-section {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.photo-upload-section img {
  max-width: 100%;
  max-height: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* التنسيق لقائمة الصور المرفوعة */
.photo-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* تنسيق لأزرار الخيارات */
.size-button,
.copies-button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  background-color: #f7f7f7;
  transition: background-color 0.3s ease;
}

.size-button:hover,
.copies-button:hover {
  background-color: #f1f1f1;
}

/* تنسيق الصورة للرفع */
.photo-upload-image {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

/* تنسيق التحذيرات */
.swal2-title,
.swal2-content,
.swal2-confirm-button {
  font-family: 'Cairo', sans-serif !important;
}

.swal2-confirm-button {
  background-color: #ff8800;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.swal2-confirm-button:hover {
  background-color: #dd7600;
}
