/* components/About.css */
.about-us {
    background-color: #ffffff;
    padding: 60px 0;
  }
  
  .about-us-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap; /* للتأكد من أن التصميم يتناسب مع الشاشات الصغيرة */
  }
  
  .about-us-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px; /* تحديد عرض الصورة */
    margin-right: 20px; /* إضافة مساحة بين الصورة والنص */
  }
  
  .about-us-content {
    max-width: 600px;
    direction: rtl; /* لضمان محاذاة النصوص من اليمين لليسار */
    text-align: right; /* محاذاة النص إلى اليمين */
    margin: 20px;
  }
  
  .about-us-title {
    font-size: 3.5rem;
    color: #333;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    font-family: "Aref Ruqaa", serif;
    font-weight: bold;
    text-align: left; /* تغيير المحاذاة إلى اليمين */

  }
  
  .about-us-title::after {
    content: '';
    display: block;
    width: 80px; /* عرض الخط أسفل العنوان */
    height: 4px; /* سماكة الخط */
    background-color: #fe9e06; /* لون الخط */
    margin-top: 10px;
    border-radius: 2px; /* جعل حواف الخط دائرية */
  }
  
  .about-us-text {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
    font-family: "Tajawal", serif;

  }
  
  .about-us-image {
    flex: 1; /* يسمح بتوسيع العنصر لملء المساحة */
    margin-right: 20px; /* إضافة مساحة بين الفيديو والنص */
}

.about-video {
    max-width: 100%; /* يجعل الفيديو يتناسب مع عرض العنصر الأب */
    border-radius: 8px; /* إضافة حواف دائرية للفيديو */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* تأثير الظل */
}


/* محاذاة العنوان للمنتصف في الشاشات الصغيرة */
@media (max-width: 768px) {
  .about-us-content {
      text-align: center; /* محاذاة النص في المنتصف */
  }
  .about-us-title {
    font-size: 2rem;
}
}