.contact-us {
  background-color: #f9f9f9;
  padding: 60px 0;
  direction: rtl; /* تحديد اتجاه النص من اليمين إلى اليسار */
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.contact-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}

.contact-title::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: #fe9e06;
  margin: 10px auto;
  border-radius: 2px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-info {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
  text-align: right; /* محاذاة النص إلى اليمين */
  font-family: 'Cairo', sans-serif;
}

.contact-info p {
  margin: 5px 0;
}
.contact-info p strong + span {
  direction: ltr; /* تحديد اتجاه النص من اليسار لليمين */
  text-align: left; /* محاذاة النص إلى اليسار */}

.contact-form {
  width: 100%;
  max-width: 600px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Cairo', sans-serif;
  text-align: right; /* محاذاة النص داخل الحقول إلى اليمين */
}

.form-group textarea {
  resize: vertical;
}

.submit-button {
  background-color: #fe9e06;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Cairo', sans-serif;
}

.submit-button:hover {
  background-color: #da8600;
}

