/* EventInfo.css */
.event-info {
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
  }
  
  .event-info .back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;

  }
  
  .event-info .back-button:hover {
    background-color: #0056b3;
  }
  
  .event-info img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 20px auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .event-info h1 {
    font-size: 28px;
    margin: 15px 0;
    color: #333;
    font-family: 'Cairo', sans-serif;

  }
  
  .event-info p {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
    font-family: 'Cairo', sans-serif;

  }
  
  .event-info a {
    color: #007bff;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;

  }
  
  .event-info a:hover {
    text-decoration: underline;
  }
  
  .event-info .edit-button {
    background-color: #28a745;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Cairo', sans-serif;

  }
  
  .event-info .edit-button:hover {
    background-color: #218838;
  }
  
  /* زر تغيير الصورة */
.upload-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Cairo', sans-serif;

}

.upload-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.upload-button:active {
  background-color: #00408d;
}

/* زر تحميل الصورة */
.upload-image-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.upload-image-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.upload-image-button:active {
  background-color: #1e7e34;
}

/* زر العودة */
.back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
  transition: color 0.3s;
}

.back-button:hover {
  color: #0056b3;
}
