/* استيراد خط Cairo من Google Fonts */

body {
  font-family: 'Cairo', sans-serif;
  direction: rtl; /* اتجاه النص من اليمين لليسار */
  text-align: right; /* محاذاة النصوص لليمين */
}

.order-card {
  background-color: #fff;
  padding: 20px;
  margin: 15px;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  color: #333;
}

.order-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.order-card p {
  margin: 8px 0;
  line-height: 1.5;
  font-family: 'Cairo', sans-serif;

}

.order-card p span {
  font-weight: bold;
  color: #2b7a78;
}

.order-card button {
  background-color: #2b7a78;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-self: center;
  font-size: 16px;
  font-family: 'Cairo', sans-serif;

}

.order-card button:hover {
  background-color: #1e6f6c;
  transform: scale(1.05);
}

.order-details {
  font-size: 14px;
  color: #555;
}

.order-card .order-header {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #2b7a78;
  font-family: 'Cairo', sans-serif;

}

.order-card.processed {
    border-left: 5px solid #006317; /* لون أخضر للطلبات التي تمت معالجتها */
    background-color: #89ffbc; /* خلفية فاتحة */
  }
  
  .order-card.pending {
    border-left: 5px solid #dd0000; /* لون أصفر للطلبات التي لم تُعالج بعد */
    background-color: #ff8686; /* خلفية فاتحة */
  }
  